.sign-up-section
{
    width: 250%;
    height: 12vh;
    margin:auto;
    background-color: hsl(216, 53%, 9%);
    border-radius: 5px;
    display:flex;
    text-align: center;
    padding: 20px;
    z-index: 1;
    position: relative;
    box-shadow: 3px 3px 4px rgba(0,0,0,5);
    color: white;
    margin-right: auto;
    margin-left: auto;
}
.sign-up-desc h2
{
    margin-bottom: 10px;
}
form
{
    margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left: auto;
    position: right;
    justify-content: center;
}
input[type="email"]
{
    width: 400px;
    padding: 14px 20px;
    outline: none;
    border: none;
    border-radius: 25px;
    background: white;
    margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left:auto;
    float: right;
    text-align: left;
    position: right;
    
}

input[type="submit"]
{
    width: 150px;
    padding: 10px 20px;
    outline: none;
    border: none;
    color: white;
    border-radius: 25px;
    background: hsl(198, 60%, 50%);
    float: right;
    text-align: center;
    margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left:auto;
    position: right;
}
.sign-up-section
{
    width: 40%;
    height: 22vh;
    margin: auto;
    position: relative;
    top: 50px;
    justify-content: center;
    
}
.sign-up-desc
{
    width: 2000px;
}
.sign-up-desc h2
{
    margin-bottom: 15px;
    font-size:14px;
    text-align: center;
    font-family: sans-serif;
    
}
input [type="email"]
{
    width: 50px;
    margin-bottom: 10px;
    
}
input [type="submit"]
{
    width: 300px;
}
@media screen and (max-width: 300px) 
{
    input [type="text"] {
        display:flex;
}
.form > input[type="email"]
{
  float: left;
  clear:right;
  
  
}

.form > input[type="submit"]
{
  float: right;
}
 